<!DOCTYPE html>
<html>
<head>
	<title>AlphaBuild</title>
	<%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<style>
		.demo-layout-transparent {
		  background: url('../assets/demos/transparent.jpg') center / cover;
		}
		.demo-layout-transparent .mdl-layout__header,
		.demo-layout-transparent .mdl-layout__drawer-button {
		  /* This background is dark, so we set text to white. Use 87% black instead if
		     your background is light. */
		  color: white;
		}
	</style>

	
	<div class="demo-layout-transparent mdl-layout mdl-js-layout">
		<% if logged_in? %>
		  	<header class="mdl-layout__header mdl-layout__header--transparent">
		    <!-- Top row, always visible -->
		    	<div class="mdl-layout__header-row">
		      		<span onclick="location.href='/'" style="cursor: pointer;" class="mdl-layout-title">Alpha</span>
		      		<div class="mdl-layout-spacer"></div>
		      		<nav class="mdl-navigation">
		      			<h6 class="mdl-navigation__link"> Bem Vindo, <%= current_user.name%>! </h6>
		      		</nav>
		   		</div>
		  	</header>

		   	<div class="mdl-layout__drawer">
		    	<span class="mdl-layout-title">Alpha</span>
		    	<nav class="mdl-navigation">
	            	<%= link_to "Estatísticas", estatistica_path, class: "mdl-navigation__link" %>
	            	<%= link_to "Sair", logout_path, method: "delete", class: "mdl-navigation__link" %>
		    	</nav>
		  	</div>
	  	<% end %>
	  	<main class="mdl-layout__content">
	    	<div class="page-content"><%=yield%></div>
	  	</main>
	</div>


</body>
</html>
